table mat-icon {
    color: #666;
    cursor: pointer;
}
.no-data {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-size: 14px;
}

.mat-column-options{
    width: 120px;
    text-align: center;
}

