.no-data {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-size: 14px;
}

.mat-column-status {
    text-align: center;
}
th.mat-column-options, .mat-column-options.active-users {
    width: 120px;
    text-align: center;
}
th.mat-column-options, .mat-column-options.new-users {
    width: 240px;
    text-align: center;
}
table .controls mat-icon  {
    color: #666;
    cursor: pointer;
}