<div class="container text-center">

    <h2 class="mb20">Recover password</h2>

    <div [ngSwitch]="stage">
        <app-recover-first-stage *ngSwitchDefault></app-recover-first-stage>
        <app-recover-first-stage *ngSwitchCase="1" (onUpdateStage)="updateStageView($event)" (onSetEmail)="setUserEmail($event)"></app-recover-first-stage>
        <app-recover-second-stage *ngSwitchCase="2" [email]="recoverEmail" (onUpdateStage)="updateStageView($event)" (onSetToken)="setRecoverToken($event)"></app-recover-second-stage>
        <app-recover-third-stage *ngSwitchCase="3" [email]="recoverEmail" [token]="token"></app-recover-third-stage>
    </div>

    <mat-divider class="mb20 w100"></mat-divider>
    <p><a [routerLink]="singInRoute">Sign in</a></p>
</div>
