textarea {
    background-color: #000220;
    color: white;
    line-height: 1.6em;
    font-family: monospace;
    font-size: 16px;
    padding: 20px;
    resize: none;
    min-height: 600px;
    border-radius: 5px;;
}