<p class="mb20 color-black">Please, enter your email and we will send you a link to reset yor password</p>

<mat-card *ngIf="response" class="mb20" [class]="response.class">
    <mat-card-content>
        {{ response.message }}
    </mat-card-content>
</mat-card>

<form novalidate autocomplete="off" [formGroup]="recoverForm" fxLayout="column" fxLayoutAlign="center center" >

    <div fxFill class="form-controls">
        <mat-form-field appearance="outline" class="mb10">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="agricore@example.com" required>
            <mat-icon matSuffix aria-hidden="false" aria-label="User" fontIcon="person"></mat-icon>
            <mat-error *ngIf="hasError('email')">{{ emailError }}</mat-error>
        </mat-form-field>
    </div>

    <button (click)="submitRecover()" type="button" fxFill mat-raised-button color="primary" [disabled]="recoverForm.invalid" class="mb20 p10">Recover password</button>
</form>